#navbar {
    background-color: rgb(193, 153, 123);
}

#navbar-title {
    background-color: rgb(193, 153, 123);
    color: #6e706ed0;
    font-size: 20px;
    font-weight: 600;
}

#navbar #dropdown-basic-button{
    background-color: rgba(143, 81, 34, 0.836);
}

#navbar #dropdown-header .row:nth-child(1){
    font-size: 60px;
    display: flex;
    justify-content: center;
    
}

#navbar #dropdown-header .row:nth-child(2){
    font-size: 18px;
    display: flex;
    justify-content: center;
    margin-top: 5px;
}

#basic-navbar-nav{
    font-weight: 600;
}
