body{
    background:#cdcdc0;
}

input{
    border: 2px double #626d71;
}

fieldset{
    background-color: #ddbc95 ;
    border: 2px double #b38867;
    text-align: center;
}

h1, h2{
    color: #626d71;
    text-align: center;
}

table{
    text-align: center;
}

